.main-body{
    background-color: #028abf;
    width: 400px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-container-block-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 20vh;
}

.website-layout{
    display: flex;
    flex-direction: row;
}

h1, p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input{
    transition: border 500ms ease-out;
    margin-bottom: 10px;
    text-align: center;
    width: 300px;
    outline: none;
    border: none;
}

input:focus{
    border: cyan solid 1px;
}

.block-button{
    margin-bottom: 5px;
    background: darkblue;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
    transition: 0.5s all;
    font-weight: bolder;
}

.block-button:hover{
    cursor: pointer;
    background: white;
    color: black;
}

.website-layout{
    color: white;
}

.website-layout-text{
    margin-right: 2rem;
}

.website-layout-button{
    background: red;
    color: white;
    border: none;
    border-radius: 10px;
}

.website-layout-button:hover{
    cursor: pointer;
}

#websites-list{
    display: flex;
    flex-direction: column;
}