.main-body{
    background-color: wheat;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 20vh;
}

.website-layout{
    display: flex;
    flex-direction: row;
}

h1, p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input{
    margin-bottom: 10px;
    text-align: center;
    width: 300px;
}

.block-button{
    margin-bottom: 5px;
    background: darkblue;
    color: white;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s all;
}

.block-button:hover{
    cursor: pointer;
    background: white;
    color: black;
}

#websites-list{
    display: flex;
    flex-direction: column;
}